body{
  background-color:rgb(238, 229, 236);
  color:black;
}
h1{
  color:blueviolet;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #00eaff;
  width: 180px;
  transition: 0.4s ease-in-out;
  border-radius: 8px;
  filter: grayscale(100%); 
  -webkit-filter: grayscale(100%); 
  transition: filter 0.5s ease;
}

div.gallery-item:hover {
   box-shadow: 0 0 20px #00eaff;
  transform: scale(1.05);
  filter: grayscale(0%); 
  -webkit-filter: grayscale(0%);
}


div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}


